In [7]:
readMe = open('Meterstanden.csv','r').readlines()
print(len(readMe))
readMe[:5]

39

['Opmerking,maand/dag/jaar,maand,jaar,stand_water,stand_gas,stand_electriciteit,# dagen,# maand,# water mÂ³,# gas mÂ³,# electriciteit kWh,Gemiddelde/mnd,water,gas,electriciteit,,,,,,,,Aantal dagen,Totaal per periode,water,gas,electriciteit\n',
 'Start (chauffage aan-uit),5/13/2016,5,2016,3652.28,23111.241,111706.6,,,,,,,,,,,,,,,,,#REF!,#REF!,#REF!,#REF!,#REF!\n',
 ',5/25/2016,5,2016,3654,23121.142,111737.4,,0.4,,#REF!,,0.4,4,25,77,,,,,,,,#REF!,#REF!,#REF!,#REF!,#REF!\n',
 ',5/30/2016,5,2016,3654.6327,23125.212,111752.9,,,,#VALUE!,,,,,,,,,,,,,#REF!,#REF!,#REF!,#REF!,#REF!\n',
 'Chauffage AAN,06/01/2016,6,2016,3654,23127.19,111761.6,19,0.6,2.7,25.2,86.8,0.6,2.7,25.2,86.8,,,,,,,,0,0.0,0,0,0\n']

In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("C:/Users/tinep/Downloads/Meterstanden.csv")
#df.columns
#print(df.head(5))
df.set_index("maand/dag/jaar", inplace='True')
#print(df.head(5))

ValueError: For argument "inplace" expected type bool, received type str.

In [19]:
ls # all content working directory

 Volume in drive C has no label.
 Volume Serial Number is 622C-60F4

 Directory of C:\Users\tinep\Downloads


 Directory of C:\Users\tinep\Downloads


 Directory of C:\Users\tinep\Downloads


 Directory of C:\Users\tinep\Downloads


 Directory of C:\Users\tinep\Downloads

File Not Found

In [64]:
df = pd.read_csv("C:/Users/tinep/Downloads/80-cereals/cereal.csv")
df.head(5)
#print(df)
# column 'fat' is loaded as 'object', because one value is 'no info'

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,.,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,NaN,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [28]:
df2 = pd.read_csv("80-cereals/cereal.csv")
df2.head(5)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [29]:
# Are they the same?
print(pd.DataFrame.equals(cereal_df, cereal_df2))

True

In [32]:
dfSkip = pd.read_csv("80-cereals/cereal.csv", skiprows = 2)
print(dfSkip.head(5))

           100% Natural Bran  Q  C  120  3  5   15     2     8  8.1  135   0  \
0                   All-Bran  K  C   70  4  1  260   9.0   7.0    5  320  25
1  All-Bran with Extra Fiber  K  C   50  4  0  140  14.0   8.0    0  330  25
2             Almond Delight  R  C  110  2  2  200   1.0  14.0    8   -1  25
3    Apple Cinnamon Cheerios  G  C  110  2  2  180   1.5  10.5   10   70  25
4                Apple Jacks  K  C  110  2  0  125   1.0  11.0   14   30  25

   3.1    1   1.1  33.983679
0    3  1.0  0.33  59.425505
1    3  1.0  0.50  93.704912
2    3  1.0  0.75  34.384843
3    1  1.0  0.75  29.509541
4    2  1.0  1.00  33.174094

In [65]:
# what is the datatype
print(df['mfr'].dtypes)
print(df['calories'].dtypes)
print(df['fat'].dtypes)

object
int64
object

In [66]:
print(df['fat'][0] + df['fat'][1])

15

In [67]:
# to prevent datatype 'object' because of value 'no info'
df = pd.read_csv("80-cereals/cereal.csv", 
                 #skiprows = 1, 
                 na_values = ['no info', '.'])
print(df.head(5))
print(df['fat'].dtypes)
print(df['fat'][0] + df['fat'][1])

                        name mfr type  calories  protein  fat  sodium  fiber  \
0                  100% Bran   N    C        70        4  1.0     130   10.0
1          100% Natural Bran   Q    C       120        3  5.0      15    2.0
2                   All-Bran   K    C        70        4  NaN     260    9.0
3  All-Bran with Extra Fiber   K    C        50        4  NaN     140   14.0
4             Almond Delight   R    C       110        2  2.0     200    1.0

   carbo  sugars  potass  vitamins  shelf  weight  cups     rating
0    5.0       6     280        25      3     1.0  0.33  68.402973
1    8.0       8     135         0      3     1.0  1.00  33.983679
2    7.0       5     320        25      3     1.0  0.33  59.425505
3    8.0       0     330        25      3     1.0  0.50  93.704912
4   14.0       8      -1        25      3     1.0  0.75  34.384843
float64
6.0

In [74]:
# How many rows the dataset
df['name'].count()

# Use of min & max with a condition
df['calories'][df['name'] == '100% Bran'].min()
#df['calories'].max()

70

In [86]:
# Use of min & max with a condition: string like...
df['calories'][df['name'].str.contains("Bran")].min()
#df[df['name'].str.contains("Bran")]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1.0,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5.0,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
2,All-Bran,K,C,70,4,NaN,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,NaN,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
8,Bran Chex,R,C,90,2,1.0,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
9,Bran Flakes,P,C,90,3,0.0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813
19,Cracklin' Oat Bran,K,C,110,3,3.0,140,4.0,10.0,7,160,25,3,1.00,0.50,40.448772
28,Fruitful Bran,K,C,120,3,0.0,240,5.0,14.0,12,190,25,3,1.33,0.67,41.015492
52,Post Nat. Raisin Bran,P,C,120,3,1.0,200,6.0,11.0,14,260,25,3,1.33,0.67,37.840594
58,Raisin Bran,K,C,120,3,1.0,210,5.0,14.0,12,240,25,2,1.33,0.75,39.259197
59,Raisin Nut Bran,G,C,100,3,2.0,140,2.5,10.5,8,140,25,3,1.00,0.50,39.703400
64,Shredded Wheat 'n'Bran,N,C,90,3,0.0,0,4.0,19.0,0,140,0,1,1.00,0.67,74.472949
70,Total Raisin Bran,G,C,140,3,1.0,190,4.0,15.0,14,230,100,3,1.50,1.00,28.592785

In [82]:
df['name'].str.contains("Bran")

0      True
1      True
2      True
3      True
4     False
5     False
6     False
7     False
8      True
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28     True
29    False
      ...
47    False
48    False
49    False
50    False
51    False
52     True
53    False
54    False
55    False
56    False
57    False
58     True
59     True
60    False
61    False
62    False
63    False
64     True
65    False
66    False
67    False
68    False
69    False
70     True
71    False
72    False
73    False
74    False
75    False
76    False
Name: name, Length: 77, dtype: bool

In [87]:
# freq tabel 
df['mfr'].value_counts()

K    23
G    22
P     9
R     8
Q     8
N     6
A     1
Name: mfr, dtype: int64

In [89]:
# aantal unieke values
df['name'].nunique() # aantal unieke
df['name'].count() # totaal aantal

77

In [94]:
df.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,75.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.026667,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.013068,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [ ]:
### .groupby() -- Aggregatie met groepering

In [97]:
df.groupby(['mfr']).groups.keys()

dict_keys(['A', 'G', 'K', 'N', 'P', 'Q', 'R'])

In [98]:
df.groupby('mfr')['calories'].min()

mfr
A    100
G    100
K     50
N     70
P     90
Q     50
R     90
Name: calories, dtype: int64

In [101]:
df[df['name'].str.contains('Bran')].groupby('mfr')['calories'].sum()

mfr
G    240
K    470
N    160
P    210
Q    120
R     90
Name: calories, dtype: int64

In [102]:
df.groupby('mfr')['calories'].sum()

mfr
A     100
G    2450
K    2500
N     520
P     980
Q     760
R     920
Name: calories, dtype: int64

In [105]:
df.groupby(['type', 'mfr']).count()

          name  calories  protein  fat  sodium  fiber  carbo  sugars  potass  \
type mfr
C    G      22        22       22   22      22     22     22      22      22
     K      23        23       23   21      23     23     23      23      23
     N       5         5        5    5       5      5      5       5       5
     P       9         9        9    9       9      9      9       9       9
     Q       7         7        7    7       7      7      7       7       7
     R       8         8        8    8       8      8      8       8       8
H    A       1         1        1    1       1      1      1       1       1
     N       1         1        1    1       1      1      1       1       1
     Q       1         1        1    1       1      1      1       1       1

          vitamins  shelf  weight  cups  rating
type mfr
C    G          22     22      22    22      22
     K          23     23      23    23      23
     N           5      5       5     5       5
     P           9      9       9     9       9
     Q           7      7       7     7       7
     R           8      8       8     8       8
H    A           1      1       1     1       1
     N           1      1       1     1       1
     Q           1      1       1     1       1